/data/*
/images/*
/models/*
**/__pycache__/*
/results/*
*.sh
/output/*
/wandb/*
*.txt
/figures/*
*.ps1
predictive_coding/
/legacy
test.py
place_cell_tpc_sweep.py
place_cell_tpc_1d.py
.vscode
*.egg-info
inference.py