/data/*
/images/*
/models/*
**/__pycache__/*
/results/*
*.sh
/output/*
/wandb/*
*.txt
/figures/*
*.ps1
predictive_coding/
/legacy
test.py
place_cell_tpc_1d.py
.vscode
*.egg-info
inference_tpc.py
inference_rnn.py
inference_pcn.py
*.bat
/.tmp*
config_rnn2.yaml
config_rnn3.yaml
config_tpc2.yaml
/logs/*